<div class="container mt-5">
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
<div class="card">
  <div class="card-block">
     <div class="row">
    <div class="col mt-3">
     
      <ul class="list-unstyled">
      <li class="media">
        <i class="d-flex mr-3 icon-shield" style="font-size:55px;width: 64px; height: 64px;"></i>
        <div class="media-body">
          <h5 class="mt-0">Secure your application</h5>
         <span class="text-muted"> Secure your application with our built in security features.</span>
        </div>
      </li>
      <li class="media my-4">
          <i class="d-flex mr-3 icon-rocket" style="font-size:55px;width: 64px; height: 64px;"></i>
        <div class="media-body">
          <h5 class="mt-0">Website that massively scales</h5>
          <span class="text-muted"> Fast performance wherever you are in the world.</span>
        </div>
      </li>
      <li class="media">
        <i class="d-flex mr-3 icon-support" style="font-size:55px;width: 64px; height: 64px;"></i>
        <div class="media-body">
          <h5 class="mt-0">24x7 Support</h5>
          <span class="text-muted"> Round the clock suport for your app.</span>
        </div>
      </li>
    </ul>
      </div>
    <div class="col">
      <form>
        <h4>Register</h4>
        <hr>
      <div class="form-group">
          <input type="text" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="username" placeholder="User name">
      </div>
      <div class="form-group">
           <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
       <div class="form-group">
           <input type="password" class="form-control" id="confpassword" placeholder="Confirm password">
      </div>
      <button type="submit" class="btn btn-block btn-primary">Register</button>
    </form>
    <div class="text-center mt-5">Alresdy have account ?<a [routerLink]="['../login']"> Click here</a></div>
    </div>
     </div>
  </div>
</div>
  </div>
   <div class="col-md-1"></div>
  </div>
</div>
